<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pictureexif" version="1.0.2" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PictureExif</name>

    <js-module name="PictureExif" src="www/PictureExif.js">
        <clobbers target="PictureExif" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PictureExif">
                <param name="android-package" value="cordova.plugin.pictureexif.PictureExif" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/PictureExif.java" target-dir="src/cordova/plugin/pictureexif/PictureExif" />
        <source-file src="src/android/libs/opencv-343.jar" target-dir="libs" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PictureExif">
                <param name="ios-package" value="PictureExif" />
            </feature>
        </config-file>
        <source-file src="src/ios/PictureExif.m" />
    </platform>

</plugin>